openapi: 3.0.0
info:
  contact:
    email: support@aurinko.io
  description: |
    ## Introduction
    The Aurinko API is a unified API platform allowing developers to quickly build integrations with
    many mailbox providers and services like Google, Office 365, Outlook.com, MS Exchange, IMAP.
    The unified API abstracts away differences between many email, calendar, contact, task APIs
    to make it easy to connect and sync the mailbox data.

    The Aurinko API's focus is convenient and reliable data synchronization for all supported
    data categories (email, calendar, contacts, tasks) so the API provides methods to receive changes/deltas
    and be notified of the changes (through webhooks) in a unified manner. The API's sync/deltas model
    should allow developers to build reliable event based solutions easily.

    The Aurinko API is built on HTTP. Our API is RESTful. It has predictable resource URLs.
    It returns HTTP response codes to indicate errors. It also accepts and returns JSON in the HTTP body.

    ## API Authentication
    When you [sign up for an account](https://app.aurinko.io/#/signUp), you are given a Client Id and Secret
    for every application that you create. You use those to go through OAuth flows that allow you
    to start syncing remote account data through Aurinko. An account OAuth flow can be started with
    just the Client Id and the Client Secret will be required to obtain an account access token in the
    "authorization code" flow ("implicit grant" flow does is secured by the "trusted domains" setting).

    Aurinko offers two forms of authentication:

    - `Basic <Client Id, Client Secret>` - used for authentication flows and administrative requests made from the server side.
    - `Bearer <Account Access Token>` - used for working with an account data.
    - `Api Key in Cookie` - for in-browser apps that use Aurinko as their backend API with user sessions.
    - `Api Key in Header (X-Aurinko-Session)` - for server side apps that need user sessions

    Never share your client secret or access token. Keep them guarded and secure.

    ## Getting Started Guide
    If you have a use case you would like to implement, please consult us for feedback on the best API operations for the task.

    [Click here to visit our API Guides](https://docs.aurinko.io/ctg-getting-started/getting-started).
  termsOfService: https://www.aurinko.io/terms-of-service/
  title: Aurinko.io API
  version: 1.0.0
servers:
- description: Production server
  url: https://api.aurinko.io
security:
- AccountToken: []
- AppAuth: []
  AccountIdHeader: []
- UserSessionHeader: []
  AccountIdHeader: []
- UserSessionCookie: []
  ClientIdHeader: []
  AccountIdHeader: []
- AuthTypeHeader: []
  ExchangeIdToken: []
  ClientIdHeader: []
  AccountIdHeader: []
tags:
- name: calendar
- name: email
- name: followup
- name: contact
- name: booking
- name: user
- name: account
- name: am
- name: auth
- name: subscriptions
- name: task
- description: |
    Aurinko's Unified OAuth Flows are backed by providers’ OAuth2 flows (i.e. Google, Office 365, Salesforce, HubSpot,...)
    or by secure password-based authentications (i.e. MS Exchange, IMAP accounts). The following three flows are supported:

    1. Account OAuth - User delegated authorization that produces an Aurinko account and an access token.
    2. Service Account OAuth - Admin/Org-level authorization that produces an Auirnko service account and an access token.
    3. User OAuth - User delegated authorization that produces an Aurinko User, its primary account, and a user session token or cookie.

    See [this user guide](https://docs.aurinko.io/authentication/authentication-flow) for more information.
  name: Auth
  x-displayName: Authorization
- description: "## Failing requests\nAPI clients must expect and gracefully handle\
    \ transient errors, such as rate limiting or server errors.\nWe recommend baking\
    \ 5xx and 429 response handling into your low-level HTTP client so your integration\n\
    can handle most errors automatically.\n\nIf a request fails, the error information\
    \ is returned with the HTTP status code and error details are\nusually sent as\
    \ JSON content. For instance, if a requested record could not be found, the HTTP\
    \ response\nmight look something like:\n```\nHTTP/1.1 404 The record could not\
    \ be found\nDate: Thu, 16 Mar 2020 17:41:40 GMT\nContent-Type:\tapplication/json\n\
    ...\n\n{\n  \"code\": \"badRequest\",\n  \"message\": \"Bad Request\",\n  \"requestId\"\
    : \"3cd38fee-714b-4fe2-8e41-0f358246526a\",\n  \"originalError\": {\n    \"error\"\
    : {\n      \"code\": \"ErrorInvalidIdMalformed\",\n      \"message\": \"Id is\
    \ malformed.\",\n      \"innerError\": {\n        \"date\": \"2020-08-17T22:56:24\"\
    ,\n        \"request-id\": \"be4b9a5c-9c29-4cd4-b815-90b5e5bf8f07\"\n      }\n\
    \    }\n  }\n}\n```\n\nNote that, in general, if a request causes a new record\
    \ to be created (like a new event, or contact, etc.),\nthe response will use the\
    \ \"201 Created\" status. Any other successful operation (like a successful query,\n\
    delete, or update) will use a 200 status code.\n\n## Rate limiting (429 Too Many\
    \ Requests)\nIf you exceed rate limits imposed by a remote API like Google, Graph,\
    \ MS Exchange, you will\nget a 429 Too Many Requests response. Your application\
    \ should retry with exponential backoff.\n\n## 5xx server errors\nIf Aurinko is\
    \ having trouble, you will get a response with a 5xx status code indicating a\
    \ server error.\n500 (Internal Server Error), 502 (Bad Gateway), 503 (Service\
    \ Unavailable), and 504 (Gateway Timeout)\nmay be retried with exponential backoff.\n\
    \n## 404 Not Found\nAPI requests may get 404 due to a deleted item or insufficient\
    \ permissions, etc. Do not automatically\nretry these requests.\n\n## 412 Precondition\
    \ Failed\nPATCH API requests may get 412 due to a mismatching ETag header (If-Match)\
    \ which indicates\nthe contact has changed since its data was read.\n"
  name: Errors
  x-displayName: Handling errors
  x-traitTag: true
- description: |
    An account corresponds to an email address, mailbox, and/or calendar. When connecting to the Aurinko API, a specific access token gives you access to a specific account’s data.
  name: Account
- description: |
    `User` is an Aurinko managed entity that your app can leverage to implement user session management. Multiple regular Aurinko accounts can be linked to a `User` however there is always one primary account that acts as the user id-provider. The `User` sessions allow browser apps to store all their account access tokens securely on the Aurinko servers.
  name: User
  x-displayName: User sessions
- description: |
    These endpoints allow for account management outside the developer console interface. You can list, cancel, update, and delete accounts associated with your application.
  name: Accounts
- description: |
    Service accounts represent admin/service/organization level connections. List, cancel, update, and delete service accounts associated with your application.
  name: Services
  x-displayName: Service accounts
- description: |
    Manage accounts rely on service accounts for their connections. List, cancel, update, and delete managed accounts associated with service accounts.
  name: Managed accounts
  x-displayName: Managed accounts
- description: |
    Each account connected to Aurino can have zero or more calendars, and each calendar has a collection of individual events.
  name: Calendars
- description: |
    Sync/delta methods.
  name: CalSync
  x-displayName: Calendar sync
- description: |
    Events are objects within a calendar, generally supporting all features of modern scheduling apps. Using the calendar APIs, your application can schedule events, send meeting invitations, RSVP, and more.
  name: Events
  x-displayName: Calendar events
- description: |
    Check free/busy status for a calendar or available time slots for a meeting in multiple calendars.
  name: FreeBusySchedule
  x-displayName: Free/Busy schedule
- description: |
    Booking profiles allow you to build calendar availability and meeting scheduling apps. List, create, update, and delete booking profiles associated with a user calendar. See meeting time availability according to a booking profile configuration.
  name: Booking
  x-displayName: Booking
- description: Sync/delta methods.
  name: EmailSync
  x-displayName: Email sync
- description: |
    Messages contain several pieces of information, such as when a message was sent, the sender's address, to whom it was sent, and the message body. They can also contain files (attachments), calendar event invitations, and more.
  name: Messages
  x-displayName: Email messages
- description: |
    A draft message is a message which has not been sent yet. The drafts endpoints let you create new drafts, read existing drafts, and send drafts.
  name: Drafts
  x-displayName: Draft messages
- description: |
    Track email opens.
  name: EmailTracking
  x-displayName: Email tracking
- description: |
    Follow-up rules allow you to define automatic email follow-up (drip) sequences and email templates. List, create, update, and delete follow-up rules associated with a mailbox account. Check status of a drip sequence for a given email thread, or activate a drip sequence.
  name: FollowUpRobot
  x-displayName: Follow-up and templates
- description: |
    Contacts are objects within an address book, containing several pieces of information, such as email addresses, phone numbers,  postal addresses, work place details.
  name: Contacts
- description: |
    Sync/delta methods.
  name: ContSync
  x-displayName: Contacts sync
- description: |
    TaskLists a container objects for tasks.
  name: TaskLists
  x-displayName: Task Lists
- description: |
    Tasks a work to be done.
  name: Tasks
  x-displayName: Tasks
- description: Sync/delta methods.
  name: TaskSync
  x-displayName: Task sync
- description: |
    Webhooks allow your application to receive simple notifications when certain events occur.
    They essentially tell your application that it can run incremental syncs to obtain the changed records (updated/deleted).

    ## Prerequisites
    Gmail notifications require a special configuration, explained in [this article](https://developers.google.com/gmail/api/guides/push).
    A PubSub PUSH subscription should specify your Aurinko endpoint `https://{yourAurinkoDomain}/push/google/email`
    so that Gmail notifications are delivered to Aurinko first. Once the PubSub subscription is configured
    and the `publish` rights are granted to `gmail-api-push@system.gserviceaccount.com` please specify your
    PubSub topic in the Application settings (Google OAuth) in the Aurinko portal.

    ## Notification URL verification
    To ensure that notifications are being delivered to a server under your direct control, we must verify
    your ownership by issuing you a challenge request. Please make sure your notification endpoint
    (specified in the notificationUrl property) responds to a validation request. If validation fails,
    the request to create the subscription returns a 400 Bad Request error.

    1. Aurinko sends a POST request to the notification URL:
      ```
      Content-Type: text/plain; charset=utf-8
      POST https://{notificationUrl}?validationToken={challenge}
      ```
    2. The client must provide a response:
      * A 200 (OK) status code.
      * The body must include the validation token provided by the validationToken query parameter

    ## Notifications
    Aurinko sends notifications as POST requests with the following json payload:
    ```
    {
      "subscription" : integer, // subscription Id
      "resource" : string,
      "accountId": integer,
      "error": string,          // if any
      "lifecycleEvent": string, // Enum of `error` or `active`, when subscription state changes
      "payloads" : [...]
    }
    ```

    You notification endpoint should respond with the 200 (OK) status code when a notification is successfully processed.

    ### Notification validation
    Aurinko signs its requests using a secret unique to your app.
    Here's an overview of the process to validate a signed request from Aurinko:

    1. Retrieve the `X-Aurinko-Request-Timestamp` header on the HTTP request, and the body of the request (Use the raw request body, before it has been deserialized from JSON or other forms.).
    2. Concatenate the version number, the timestamp, and the body of the request to form a basestring. Use a colon as the delimiter between the three elements.
    The version number right now is always `v0`.
    ```
    final byte[] signData = org.apache.commons.lang3.ArrayUtils.addAll(
        ("v0:" + timestampSeconds + ":").getBytes(StandardCharsets.UTF_8),
        payloadBytes
    );
    ```
    3. With the help of HMAC SHA256 implemented in your favorite programming language, hash the above basestring, using the Aurinko Signing Secret as the key.
    4. Compare this computed signature to the `X-Aurinko-Signature` header on the request.
    If it matches - request is valid, if not - request must be discarded.
  name: Webhooks
paths:
  /v1/calendars/freeBusy:
    post:
      operationId: freeBusy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FreeBusyRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FreeBusySchedulePage'
          description: Success
      summary: "Get the free/busy availability information for a collection of users,\
        \ or resources"
      tags:
      - FreeBusySchedule
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -H 'Authorization: Bearer <access token>' \
              -X POST https://api.aurinko.io/v1/calendars/freeBusy \
              -d '{
                  "timeMin": "2020-02-03T10:00:00-07:00",
                  "timeMax": "2020-06-03T10:00:00-07:00",
                  "emails": ["user1@corp.com","user2@corp.com"]
                 }'
      x-content-type: application/json
      x-accepts: application/json
  /v1/calendars/suggestMeetingTimes:
    post:
      operationId: suggestMeetingTimes
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SuggestMeetingTimesRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuggestMeetingTimesResponse'
          description: Success
      summary: "Suggest meeting times for a collection of users, or resources"
      tags:
      - FreeBusySchedule
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -H 'Authorization: Bearer <access token>' \
              -X POST https://api.aurinko.io/v1/calendars/suggestMeetingTimes \
              -d '{
                  "timeMin": "2020-02-03T10:00:00-07:00",
                  "timeMax": "2020-06-03T10:00:00-07:00",
                  "durationMinutes": 45,
                  "attendees": [
                      {"email": "user1@corp.com"},
                      {"email": "user2@corp.com"}
                  ],
                  "defaultTimezone": "America/New_York"
                 }'
      x-content-type: application/json
      x-accepts: application/json
  /v1/calendars:
    get:
      operationId: calendars
      parameters:
      - description: A token received as nextPageToken from a previous page request
          (for the first page it must be empty)
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: withShared
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarsPage'
          description: Success
      summary: Request list of calendars
      tags:
      - Calendars
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -H 'Authorization: Bearer <access token>' \
              -X GET https://api.aurinko.io/v1/calendars
      x-accepts: application/json
    post:
      operationId: createCalendar
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarCreate'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Calendar'
          description: Success
      summary: Create new calendar
      tags:
      - Calendars
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -H 'Authorization: Bearer <access token>' \
              -X POST https://api.aurinko.io/v1/calendars \
              -d '{ "name": "New calendar" }'
      x-content-type: application/json
      x-accepts: application/json
  /v1/calendars/{id}:
    get:
      operationId: calendarById
      parameters:
      - description: Calendar id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Calendar'
          description: Success
      summary: Get a calendar
      tags:
      - Calendars
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -H 'Authorization: Bearer <access token>' \
              -X GET https://api.aurinko.io/v1/calendars/primary
      x-accepts: application/json
    patch:
      operationId: updateCalendar
      parameters:
      - description: Calendar id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarUpdate'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Calendar'
          description: Success
      summary: Update a calendar
      tags:
      - Calendars
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -H 'Authorization: Bearer <access token>' \
              -X PATCH https://api.aurinko.io/v1/calendars/{calendarId} \
              -d '{ "name": "Updated calendar" }'
      x-content-type: application/json
      x-accepts: application/json
  /v1/calendars/{calendarId}/sync:
    post:
      operationId: calSyncStart
      parameters:
      - description: Calendar id
        explode: false
        in: path
        name: calendarId
        required: true
        schema:
          type: string
        style: simple
      - description: |
          Lower bound (exclusive) for an event's end time to filter by. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. If timeMax is set, timeMin must be smaller than timeMax.
        explode: true
        in: query
        name: timeMin
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - description: |
          Upper bound (exclusive) for an event's start time to filter by. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMin is set, timeMax must be greater than timeMin.
        explode: true
        in: query
        name: timeMax
        required: true
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncStatus'
          description: Success
      summary: Start a new calendar sync
      tags:
      - CalSync
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X POST -H 'Authorization: Bearer <access token>' \
              -G https://api.aurinko.io/v1/calendars/primary/sync \
              -d timeMin=2019-06-03T10:00:00-07:00 \
              -d timeMax=2020-06-03T10:00:00-07:00
      x-accepts: application/json
  /v1/calendars/{calendarId}/sync/updated:
    get:
      operationId: calSyncUpdated
      parameters:
      - description: Calendar id
        explode: false
        in: path
        name: calendarId
        required: true
        schema:
          type: string
        style: simple
      - description: A token received as nextDeltaToken from a previous sync request
          or a start sync request
        explode: true
        in: query
        name: deltaToken
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: A token received as nextPageToken from a previous page request
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventsPage'
          description: Success
      summary: Request changed events (deltas)
      tags:
      - CalSync
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X GET -H 'Authorization: Bearer <access token>' \
              -G https://api.aurinko.io/v1/calendars/primary/sync/updated \
              -d deltaToken='a8b7c6d5e4f3g2h1'
      x-accepts: application/json
  /v1/calendars/{calendarId}/sync/deleted:
    get:
      operationId: calSyncDeleted
      parameters:
      - description: Calendar id
        explode: false
        in: path
        name: calendarId
        required: true
        schema:
          type: string
        style: simple
      - description: A token received as nextDeltaToken from a previous sync request
          or a start sync request
        explode: true
        in: query
        name: deltaToken
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: A token received as nextPageToken from a previous page request
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedPage'
          description: Success
      summary: Request deleted events (deltas)
      tags:
      - CalSync
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X GET -H 'Authorization: Bearer <access token>' \
              -G https://api.aurinko.io/v1/calendars/primary/sync/deleted \
              -d deltaToken='a8b7c6d5e4f3g2h1'
      x-accepts: application/json
  /v1/calendars/{calendarId}/events/range:
    get:
      operationId: range
      parameters:
      - description: Calendar id
        explode: false
        in: path
        name: calendarId
        required: true
        schema:
          type: string
        style: simple
      - description: |
          Lower bound (exclusive) for an event's end time to filter by. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. If timeMax is set, timeMin must be smaller than timeMax.
        explode: true
        in: query
        name: timeMin
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - description: |
          Upper bound (exclusive) for an event's start time to filter by. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMin is set, timeMax must be greater than timeMin.
        explode: true
        in: query
        name: timeMax
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: pageToken
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventsPageNext'
          description: Success
      summary: Request events in a range
      tags:
      - Events
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X GET -H 'Authorization: Bearer <access token>' \
              -G https://api.aurinko.io/v1/calendars/primary/events/range \
              -d timeMin=2019-06-03T10:00:00-07:00 \
              -d timeMax=2020-06-03T10:00:00-07:00
      x-accepts: application/json
  /v1/calendars/{calendarId}/events/find:
    get:
      operationId: eventsByICalUIds
      parameters:
      - description: Calendar id
        explode: false
        in: path
        name: calendarId
        required: true
        schema:
          type: string
        style: simple
      - description: |
          Find all events that match specified ICalUid's
        explode: true
        in: query
        name: iCalUId
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: pageToken
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventsPageNext'
          description: Success
      summary: Request events by ICalUid's
      tags:
      - Events
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X GET -H 'Authorization: Bearer <access token>' \
              -G https://api.aurinko.io/v1/calendars/primary/events/find \
              -d ICalUid=ABCID1 \
              -d ICalUid=XYZID2
      x-accepts: application/json
  /v1/calendars/{calendarId}/events/{eventId}:
    delete:
      operationId: deleteEvent
      parameters:
      - description: Calendar id
        explode: false
        in: path
        name: calendarId
        required: true
        schema:
          type: string
        style: simple
      - description: Event id
        explode: false
        in: path
        name: eventId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: notifyAttendees
        required: false
        schema:
          default: true
          nullable: true
          type: boolean
        style: form
      responses:
        "200":
          description: Success
      summary: Delete an event
      tags:
      - Events
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X DELETE -H 'Authorization: Bearer <access token>' \
              https://api.aurinko.io/v1/calendars/primary/events/<eventId>
      x-accepts: application/json
    get:
      operationId: event
      parameters:
      - description: Calendar id
        explode: false
        in: path
        name: calendarId
        required: true
        schema:
          type: string
        style: simple
      - description: Event id
        explode: false
        in: path
        name: eventId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: nativeProperties
        required: false
        schema:
          items:
            $ref: '#/components/schemas/NativeProperty'
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
          description: Success
      summary: Get an event
      tags:
      - Events
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X GET -H 'Authorization: Bearer <access token>' \
              https://api.aurinko.io/v1/calendars/primary/events/{id}
      x-accepts: application/json
    patch:
      operationId: updateEvent
      parameters:
      - description: Calendar id
        explode: false
        in: path
        name: calendarId
        required: true
        schema:
          type: string
        style: simple
      - description: Event id
        explode: false
        in: path
        name: eventId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: notifyAttendees
        required: false
        schema:
          default: true
          nullable: true
          type: boolean
        style: form
      - description: Whether response must contain a record that has been updated.
          This can result in an additional request to provider API.
        explode: true
        in: query
        name: returnRecord
        required: false
        schema:
          default: true
          nullable: true
          type: boolean
        style: form
      - description: The HTTP entity tag of the resource (ETag). Used for web cache
          validation.
        explode: false
        in: header
        name: If-Match
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventOrId'
          description: Success
      summary: Update an event
      tags:
      - Events
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -H 'Authorization: Bearer <access token>' \
              -X PATCH https://api.aurinko.io/v1/calendars/primary/events/{eventId}?notifyAttendees=true \
              -d '{
                  "subject": "Business lunch",
                  "location": "Another cool place",
                  "start": {
                      "dateTime": "2020-02-05T10:00:00Z",
                      "timezone": "America/Los_Angeles"
                  },
                  "end": {
                      "dateTime": "2020-02-05T11:00:00Z",
                      "timezone": "America/Los_Angeles"
                  },
                  "meetingInfo": {
                      "attendees": [
                          {
                              "emailAddress": {"address": "partner@example.com"},
                              "type": "required"
                          }
                      ]
                  }
                 }'
      x-content-type: application/json
      x-accepts: application/json
  /v1/calendars/{calendarId}/events/{masterId}/series:
    get:
      operationId: seriesInfo
      parameters:
      - description: Calendar id
        explode: false
        in: path
        name: calendarId
        required: true
        schema:
          type: string
        style: simple
      - description: Master event id
        explode: false
        in: path
        name: masterId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeriesInfo'
          description: Success
      summary: Request a series description
      tags:
      - Events
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X GET -H 'Authorization: Bearer <access token>' \
              https://api.aurinko.io/v1/calendars/primary/events/{masterId}/series
      x-accepts: application/json
  /v1/calendars/{calendarId}/events/{masterId}/occurrences/{ost}:
    get:
      operationId: occurrenceByOrigStart
      parameters:
      - description: Calendar id
        explode: false
        in: path
        name: calendarId
        required: true
        schema:
          type: string
        style: simple
      - description: Master event id
        explode: false
        in: path
        name: masterId
        required: true
        schema:
          type: string
        style: simple
      - description: Original start time
        explode: false
        in: path
        name: ost
        required: true
        schema:
          format: datetime
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
          description: Success
      summary: Request an occurrence by original start time
      tags:
      - Events
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X GET -H 'Authorization: Bearer <access token>' \
              https://api.aurinko.io/v1/calendars/primary/events/{masterId}/occurrences/2020-04-01
      x-accepts: application/json
  /v1/calendars/{calendarId}/events:
    post:
      operationId: createEvent
      parameters:
      - description: Calendar id
        explode: false
        in: path
        name: calendarId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: notifyAttendees
        required: false
        schema:
          default: true
          nullable: true
          type: boolean
        style: form
      - explode: true
        in: query
        name: bodyType
        required: false
        schema:
          $ref: '#/components/schemas/BodyType'
        style: form
      - description: Whether response must contain a record that has been created.
          This can result in an additional request to provider API.
        explode: true
        in: query
        name: returnRecord
        required: false
        schema:
          default: true
          nullable: true
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventOrId'
          description: Success
      summary: Create a new event
      tags:
      - Events
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -H 'Authorization: Bearer <access token>' \
              -X POST https://api.aurinko.io/v1/calendars/primary/events \
              -d '{
                  "subject": "Business lunch",
                  "location": "Our favorite cafe",
                  "start": {
                      "dateTime": "2020-02-04T10:00:00Z",
                      "timezone": "America/Los_Angeles"
                  },
                  "end": {
                      "dateTime": "2020-02-04T11:00:00Z",
                      "timezone": "America/Los_Angeles"
                  },
                  "meetingInfo": {
                      "attendees": [
                          {
                              "emailAddress": {"address": "partner@example.com"},
                              "type": "required"
                          }
                      ]
                  }
                 }'
      x-content-type: application/json
      x-accepts: application/json
  /v1/calendars/{calendarId}/events/{eventId}/response:
    put:
      operationId: updateMeetingResponse
      parameters:
      - description: Calendar id
        explode: false
        in: path
        name: calendarId
        required: true
        schema:
          type: string
        style: simple
      - description: Event id
        explode: false
        in: path
        name: eventId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: notifyAttendees
        required: false
        schema:
          default: true
          nullable: true
          type: boolean
        style: form
      - description: Whether response must contain a record that has been updated.
          This can result in an additional request to provider API.
        explode: true
        in: query
        name: returnRecord
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: The HTTP entity tag of the resource (ETag). Used for web cache
          validation.
        explode: false
        in: header
        name: If-Match
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkResponse'
          description: Success
      summary: Update meeting response
      tags:
      - Events
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -H 'Authorization: Bearer <access token>' \
              -X PATCH https://api.aurinko.io/v1/calendars/primary/events/{eventId}?notifyAttendees=true \
              -d '{
                  "subject": "Business lunch",
                  "location": "Another cool place",
                  "start": {
                      "dateTime": "2020-02-05T10:00:00Z",
                      "timezone": "America/Los_Angeles"
                  },
                  "end": {
                      "dateTime": "2020-02-05T11:00:00Z",
                      "timezone": "America/Los_Angeles"
                  },
                  "meetingInfo": {
                      "attendees": [
                          {
                              "emailAddress": {"address": "partner@example.com"},
                              "type": "required"
                          }
                      ]
                  }
                 }'
      x-content-type: application/json
      x-accepts: application/json
  /v1/calendars/{calendarId}/events/{eventId}/attachments/{attachmentId}:
    get:
      operationId: attachment
      parameters:
      - description: Calendar id
        explode: false
        in: path
        name: calendarId
        required: true
        schema:
          type: string
        style: simple
      - description: Event id
        explode: false
        in: path
        name: eventId
        required: true
        schema:
          type: string
        style: simple
      - description: attachment identifier
        explode: false
        in: path
        name: attachmentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailAttachmentContent'
          description: Success
      summary: Get an event attachment
      tags:
      - Events
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X GET -H 'Authorization: Bearer <access token>' \
              https://api.aurinko.io/v1/email/messages/{msgId}/attachments/{attId}
      x-accepts: application/json
  /v1/email/sync:
    post:
      operationId: emailSyncStart
      parameters:
      - description: |
          Scan emails received within last 'daysWithin' days.
        explode: true
        in: query
        name: daysWithin
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: bodyType
        required: false
        schema:
          $ref: '#/components/schemas/BodyType'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncStatus'
          description: Success
      summary: Start a new email sync
      tags:
      - EmailSync
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X POST -H 'Authorization: Bearer <access token>' \
              -G https://api.aurinko.io/v1/email/sync \
              -d daysWithin=7
      x-accepts: application/json
  /v1/email/sync/updated:
    get:
      operationId: emailSyncUpdated
      parameters:
      - description: A token received as nextDeltaToken from a previous sync request
          or a start sync request
        explode: true
        in: query
        name: deltaToken
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: A token received as nextPageToken from a previous page request
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailMessagesPage'
          description: Success
      summary: Request changed emails (deltas)
      tags:
      - EmailSync
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X GET -H 'Authorization: Bearer <access token>' \
              -G https://api.aurinko.io/v1/email/sync/updated \
              -d deltaToken='a8b7c6d5e4f3g2h1'
      x-accepts: application/json
  /v1/email/sync/deleted:
    get:
      operationId: emailSyncDeleted
      parameters:
      - description: A token received as nextDeltaToken from a previous sync request
          or a start sync request
        explode: true
        in: query
        name: deltaToken
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: A token received as nextPageToken from a previous page request
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailDeletedPage'
          description: Success
      summary: Request deleted emails (deltas)
      tags:
      - EmailSync
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X GET -H 'Authorization: Bearer <access token>' \
              -G https://api.aurinko.io/v1/email/sync/deleted \
              -d deltaToken='a8b7c6d5e4f3g2h1'
      x-accepts: application/json
  /v1/email/messages:
    get:
      operationId: messages
      parameters:
      - explode: true
        in: query
        name: pageToken
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: |
          Only return messages matching the specified query. For example, "from:someuser@example.com after:01/01/2020"
        explode: true
        in: query
        name: q
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: "Supported by Google and Office365 accounts only. Body preview\
          \ (snippet) is returned for other providers. Always, check the omitted[]\
          \ array to determine if the response contains full body."
        explode: true
        in: query
        name: bodyType
        required: false
        schema:
          $ref: '#/components/schemas/BodyType'
        style: form
      - explode: true
        in: query
        name: includeTrashAndJunk
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - explode: true
        in: query
        name: nativeProperties
        required: false
        schema:
          items:
            $ref: '#/components/schemas/NativeProperty'
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailMessagesPageNext'
          description: Success
      summary: List email messages
      tags:
      - Messages
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X GET -H 'Authorization: Bearer <access token>' \
              -G https://api.aurinko.io/v1/email/messages
              -d q='text to:{address_or_name}'
      x-accepts: application/json
    post:
      operationId: send
      parameters:
      - explode: true
        in: query
        name: bodyType
        required: false
        schema:
          $ref: '#/components/schemas/BodyType'
        style: form
      - description: return message id and thread id if possible
        explode: true
        in: query
        name: returnIds
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OutgoingEmail'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailSendResponse'
          description: Success
      summary: Send a new message
      tags:
      - Messages
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -H 'Authorization: Bearer <access token>' \
              -X POST https://api.aurinko.io/v1/email/messages?bodyType=text \
              -d '{
                  "subject": "Business lunch",
                  "body": "How about a lunch meeting?",
                  "to": [{"address": "partner@example.com"}]
                  "cc": [{"address": "guest@example.com"}]
                 }'
      x-content-type: application/json
      x-accepts: application/json
  /v1/email/messages/{messageId}:
    get:
      operationId: message
      parameters:
      - description: email message identifier
        explode: false
        in: path
        name: messageId
        required: true
        schema:
          type: string
        style: simple
      - description: Default html
        explode: true
        in: query
        name: bodyType
        required: false
        schema:
          $ref: '#/components/schemas/BodyType'
        style: form
      - explode: true
        in: query
        name: nativeProperties
        required: false
        schema:
          items:
            $ref: '#/components/schemas/NativeProperty'
          nullable: true
          type: array
        style: form
      - description: automatically pre-load relevant inline attachments
        explode: true
        in: query
        name: loadInlines
        required: false
        schema:
          default: false
          nullable: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailMessage'
          description: Success
        "429":
          description: Success
          headers:
            Retry-After:
              description: threadId may be unavailable for some IMAP providers
              explode: false
              schema:
                type: integer
              style: simple
      summary: Get a message
      tags:
      - Messages
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X GET -H 'Authorization: Bearer <access token>' \
              https://api.aurinko.io/v1/email/messages/{id}
      x-accepts: application/json
  /v1/email/messages/{messageId}/status:
    post:
      operationId: updateMessageStatus
      parameters:
      - explode: false
        in: path
        name: messageId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMessageStatusData'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkResponse'
          description: Success
      summary: Update a message's status
      tags:
      - Messages
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -H 'Authorization: Bearer <access token>' \
              -X POST https://api.aurinko.io/v1/email/messages/{messageId}/status \
              -d '{
                  "unread": true
                 }'
      x-content-type: application/json
      x-accepts: application/json
  /v1/email/conversations/{threadId}:
    get:
      operationId: conversation
      parameters:
      - description: conversation/thread identifier
        explode: false
        in: path
        name: threadId
        required: true
        schema:
          type: string
        style: simple
      - description: "Supported by Google and Office365 accounts only. Body preview\
          \ (snippet) is returned for other providers. Always, check the omitted[]\
          \ array to determine if the response contains full body."
        explode: true
        in: query
        name: bodyType
        required: false
        schema:
          $ref: '#/components/schemas/BodyType'
        style: form
      - explode: true
        in: query
        name: pageToken
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailMessagesPageNext'
          description: Success
      summary: Get messages in a conversation
      tags:
      - Messages
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X GET -H 'Authorization: Bearer <access token>' \
              https://api.aurinko.io/v1/email/conversations/{threadId}
      x-accepts: application/json
  /v1/email/messages/{messageId}/reply:
    post:
      operationId: reply
      parameters:
      - description: an identifier of a message the response is for
        explode: false
        in: path
        name: messageId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: bodyType
        required: false
        schema:
          $ref: '#/components/schemas/BodyType'
        style: form
      - description: return message id and thread id if possible
        explode: true
        in: query
        name: returnIds
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OutgoingEmailReply'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailSendResponse'
          description: Success
      summary: Reply to a message
      tags:
      - Messages
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -H 'Authorization: Bearer <access token>' \
              -X POST https://api.aurinko.io/v1/email/messages/{msgId}/reply?bodyType=text \
              -d '{
                  "subject": "RE: Business lunch",
                  "body": "Sure, lets meet.",
                  "to": [{"address": "partner@example.com"}]
                  "cc": [{"address": "guest@example.com"}]
                 }'
      x-content-type: application/json
      x-accepts: application/json
  /v1/email/messages/{messageId}/attachments/{attachmentId}:
    get:
      operationId: emailAttachment
      parameters:
      - description: email message identifier
        explode: false
        in: path
        name: messageId
        required: true
        schema:
          type: string
        style: simple
      - description: attachment identifier
        explode: false
        in: path
        name: attachmentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailAttachmentContent'
          description: Success
      summary: Get a message attachment
      tags:
      - Messages
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X GET -H 'Authorization: Bearer <access token>' \
              https://api.aurinko.io/v1/email/messages/{msgId}/attachments/{attId}
      x-accepts: application/json
  /v1/email/folders:
    get:
      operationId: folders
      parameters:
      - explode: true
        in: query
        name: pageToken
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailFolderInfoPage'
          description: Success
      summary: List email folders
      tags:
      - EmailFolders
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X GET -H 'Authorization: Bearer <access token>' \
              -G https://api.aurinko.io/v1/email/folders
      x-accepts: application/json
  /v1/email/folders/{folderId}:
    get:
      operationId: folder
      parameters:
      - description: email folder identifier
        explode: false
        in: path
        name: folderId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailFolderInfo'
          description: Success
      summary: Get an email folder
      tags:
      - EmailFolders
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X GET -H 'Authorization: Bearer <access token>' \
              https://api.aurinko.io/v1/email/folders/{id}
      x-accepts: application/json
  /v1/email/folders/{folderId}/messages:
    get:
      operationId: folderEmails
      parameters:
      - explode: false
        in: path
        name: folderId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: pageToken
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: |
          Only return messages matching the specified query. For example, "from:someuser@example.com after:01/01/2020"
        explode: true
        in: query
        name: q
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: bodyType
        required: false
        schema:
          $ref: '#/components/schemas/BodyType'
        style: form
      - explode: true
        in: query
        name: nativeProperties
        required: false
        schema:
          items:
            $ref: '#/components/schemas/NativeProperty'
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailMessagesPageNext'
          description: Success
      summary: List email messages in a specified folder
      tags:
      - EmailFolders
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X GET -H 'Authorization: Bearer <access token>' \
              -G https://api.aurinko.io/v1/email/messages
              -d q='text to:{address_or_name}'
      x-accepts: application/json
  /v1/email/drafts:
    post:
      operationId: createDraft
      parameters:
      - explode: true
        in: query
        name: bodyType
        required: false
        schema:
          $ref: '#/components/schemas/BodyType'
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OutgoingEmail'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailDraftResponse'
          description: Success
      summary: Create a new draft message
      tags:
      - Drafts
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -H 'Authorization: Bearer <access token>' \
              -X POST https://api.aurinko.io/v1/email/drafts?bodyType=text \
              -d '{
                  "subject": "Business lunch",
                  "body": "How about a lunch meeting?",
                  "to": [{"address": "partner@example.com"}]
                  "cc": [{"address": "guest@example.com"}]
                 }'
      x-content-type: application/json
      x-accepts: application/json
  /v1/email/drafts/{draftId}:
    get:
      operationId: getDraft
      parameters:
      - description: draft message identifier
        explode: false
        in: path
        name: draftId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: bodyType
        required: false
        schema:
          $ref: '#/components/schemas/BodyType'
        style: form
      - explode: true
        in: query
        name: nativeProperties
        required: false
        schema:
          items:
            $ref: '#/components/schemas/NativeProperty'
          nullable: true
          type: array
        style: form
      - description: automatically pre-load relevant inline attachments
        explode: true
        in: query
        name: loadInlines
        required: false
        schema:
          default: false
          nullable: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailDraft'
          description: Success
      summary: Get a draft message
      tags:
      - Drafts
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X GET -H 'Authorization: Bearer <access token>' \
              https://api.aurinko.io/v1/email/drafts/{id}
      x-accepts: application/json
  /v1/email/drafts/{draftId}/send:
    post:
      operationId: sendDraft
      parameters:
      - description: an identifier of a draft message
        explode: false
        in: path
        name: draftId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: sendTime
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DraftSendDetails'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailDraftSendStatus'
          description: Success
      summary: Send a draft message
      tags:
      - Drafts
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -H 'Authorization: Bearer <access token>' \
              -X POST https://api.aurinko.io/v1/email/drafts/{draftId}/send?sendTime=2021-04-28T15:40:00Z \
      x-content-type: application/json
      x-accepts: application/json
  /v1/email/draftTracking/create:
    post:
      operationId: createDraftTracking
      parameters:
      - description: an identifier of a draft message for start tracking
        explode: true
        in: query
        name: draftId
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: "if draft was not found, turn on tracking anyway"
        explode: true
        in: query
        name: ignoreNotFound
        required: false
        schema:
          nullable: true
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RewriteHtml'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailTrackingData'
          description: Success
      summary: Modify tracking data
      tags:
      - EmailTracking
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -H 'Authorization: Bearer <access token>' \
              -X POST https://api.aurinko.io/v1/email/draftTracking/create?draftId=<draftId>  \
              -d '{
                  "htmlText": "<p></p>",
                  "tracking": {
                     "threadReplies": true
                  }
                 }'
      x-content-type: application/json
      x-accepts: application/json
  /v1/email/draftTracking/{draftId}/convert:
    patch:
      operationId: convertDraftTracking
      parameters:
      - description: an identifier of a draft message
        explode: false
        in: path
        name: draftId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConvertDraft'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkResponse'
          description: Success
      summary: Mark draft's tracking as sent
      tags:
      - EmailTracking
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -H 'Authorization: Bearer <access token>' \
              -X PATCH https://api.aurinko.io/v1/email/draftTracking/<draftId>/convert  \
              -d '{
                  "threadId": "<threadId>",
                  "internetMessageId": "<internetMessageId>"
                 }'
      x-content-type: application/json
      x-accepts: application/json
  /v1/email/draftTracking/{draftId}:
    patch:
      operationId: updateDraftTracking
      parameters:
      - description: an identifier of a draft message
        explode: false
        in: path
        name: draftId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDraftTrackingIn'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkResponse'
          description: Success
      summary: Modify draft's tracking
      tags:
      - EmailTracking
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -H 'Authorization: Bearer <access token>' \
              -X PATCH https://api.aurinko.io/v1/email/draftTracking/<draftId>  \
              -d '{
                  "context": "<context>"
                 }'
      x-content-type: application/json
      x-accepts: application/json
  /v1/email/tracking:
    get:
      operationId: getTracking
      parameters:
      - description: return only those where an open or click happened
        explode: true
        in: query
        name: withActivityOnly
        required: false
        schema:
          default: false
          nullable: true
          type: boolean
        style: form
      - description: page size
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          format: int32
          nullable: true
          type: integer
        style: form
      - description: return records offset by the given number
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          nullable: true
          type: integer
        style: form
      - explode: true
        in: query
        name: contextContains
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: identifier of thread
        explode: true
        in: query
        name: threadId
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailTrackingPageNext'
          description: Success
      summary: List tracking data
      tags:
      - EmailTracking
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X GET -H 'Authorization: Bearer <access token>' \
              -G https://api.aurinko.io/v1/email/tracking
      x-accepts: application/json
  /v1/email/tracking/purgeMyTracking:
    post:
      operationId: purgeMyTracking
      parameters:
      - explode: true
        in: query
        name: threadId
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: User-Agent
        explode: false
        in: header
        name: User-Agent
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkResponse'
          description: Success
      summary: Purge recent activity for a user
      tags:
      - EmailTracking
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -H 'Authorization: Bearer <access token>' \
               -H 'User-Agent: <User-Agent>' \
              -X POST https://api.aurinko.io/v1/email/tracking/purgeMyTracking
      x-accepts: application/json
  /v1/email/tracking/ignoreOpenClicks:
    post:
      operationId: switchOpenClicks
      parameters:
      - description: message identifier
        explode: true
        in: query
        name: messageId
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: internet message identifier
        explode: true
        in: query
        name: inetMessageId
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: should be ignored or not
        explode: true
        in: query
        name: isIgnored
        required: true
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkResponse'
          description: Success
      summary: Set ignore open/click tracking for а message
      tags:
      - EmailTracking
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -H 'Authorization: Bearer <access token>' \
              -X POST https://api.aurinko.io/v1/email/tracking/ignoreOpenClicks
      x-accepts: application/json
  /v1/email/tracking/{id}:
    get:
      operationId: trackingById
      parameters:
      - description: Tracking data id
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrackingData'
          description: Success
      summary: Get tracking data by Id
      tags:
      - EmailTracking
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X GET -H 'Authorization: Bearer <access token>' \
              -G https://api.aurinko.io/v1/email/tracking/{id}'
      x-accepts: application/json
  /v1/email/tracking/{id}/events:
    get:
      operationId: trackingEvents
      parameters:
      - description: Tracking id
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: page size
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          format: int32
          nullable: true
          type: integer
        style: form
      - description: return records offset by the given number
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          nullable: true
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailTrackingEventPageNext'
          description: Success
      summary: List tracking events
      tags:
      - EmailTracking
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X GET -H 'Authorization: Bearer <access token>' \
              -G https://api.aurinko.io/v1/email/tracking/{id}/events
      x-accepts: application/json
  /v1/email/tracking/{trackingId}/events/{id}:
    get:
      operationId: trackingEventById
      parameters:
      - description: Tracking data id
        explode: false
        in: path
        name: trackingId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Tracking event id
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailTrackingEvent'
          description: Success
      summary: Get tracking event by Id
      tags:
      - EmailTracking
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X GET -H 'Authorization: Bearer <access token>' \
              -G https://api.aurinko.io/v1/email/tracking/{trackingId}/events/{id}'
      x-accepts: application/json
  /v1/followup/config:
    get:
      operationId: getConfig
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FollowupConfig'
          description: Success
      summary: Get a follow up configuration
      tags:
      - FollowUpRobot
      x-accepts: application/json
    put:
      operationId: updateConfig
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FollowupConfig'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FollowupConfig'
          description: A result of changed configuration
      summary: Update a follow up configuration
      tags:
      - FollowUpRobot
      x-content-type: application/json
      x-accepts: application/json
  /v1/followup/rules:
    get:
      operationId: getRules
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FollowupRuleAggregateOut'
          description: A list of rules
      summary: Get follow up rules
      tags:
      - FollowUpRobot
      x-accepts: application/json
    post:
      operationId: createRule
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FollowupRuleAggregateIn'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FollowupRuleAggregateOut'
          description: A result of add rule
      summary: Add a follow up rule
      tags:
      - FollowUpRobot
      x-content-type: application/json
      x-accepts: application/json
  /v1/followup/rules/{id}:
    delete:
      operationId: deleteRule
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkResponse'
          description: Success
      summary: Delete a follow up rule
      tags:
      - FollowUpRobot
      x-accepts: application/json
    put:
      operationId: updateRule
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FollowupRuleAggregateIn'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FollowupRuleAggregateOut'
          description: A result of changed rule
      summary: Update a follow up rule
      tags:
      - FollowUpRobot
      x-content-type: application/json
      x-accepts: application/json
  /v1/followup/conversations:
    get:
      operationId: getConversationsDripStatus
      parameters:
      - description: "active or inactive threads, by default all threads returned"
        explode: true
        in: query
        name: active
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: page size
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          format: int32
          nullable: true
          type: integer
        style: form
      - description: page offset
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          nullable: true
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationDripStatus'
          description: A result of conversations with followup
      summary: Get a list of conversations touched by followup
      tags:
      - FollowUpRobot
      x-accepts: application/json
  /v1/followup/conversations/{convoId}:
    get:
      operationId: getConversationDripStatus
      parameters:
      - description: thread identifier
        explode: false
        in: path
        name: convoId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationDripStatus'
          description: A conversation status response
      summary: Check a conversation status
      tags:
      - FollowUpRobot
      x-accepts: application/json
    put:
      operationId: updateConversationDripStatus
      parameters:
      - description: thread identifier
        explode: false
        in: path
        name: convoId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DripRequestDTO'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationDripStatus'
          description: A result of applying drip
      summary: Update a conversation status
      tags:
      - FollowUpRobot
      x-content-type: application/json
      x-accepts: application/json
  /v1/contacts/sync:
    post:
      description: |
        For Office 365, Outlook.com, and MS Exchange accounts this method works with the default Contacts folder only. For Gmail accounts it processes all user contacts except 'Other contacts'.
      operationId: contSyncStart
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncStatus'
          description: Success
      summary: Start a new contacts sync
      tags:
      - ContSync
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X POST -H 'Authorization: Bearer <access token>' \
              -G https://api.aurinko.io/v1/contacts/sync
      x-accepts: application/json
  /v1/contacts/sync/updated:
    get:
      operationId: contSyncUpdated
      parameters:
      - description: A token received as nextDeltaToken from a previous sync request
          or a start sync request
        explode: true
        in: query
        name: deltaToken
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: A token received as nextPageToken from a previous page request
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactsPage'
          description: Success
      summary: Request changed contacts (deltas)
      tags:
      - ContSync
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X GET -H 'Authorization: Bearer <access token>' \
              -G https://api.aurinko.io/v1/contacts/sync/updated \
              -d deltaToken='a8b7c6d5e4f3g2h1'
      x-accepts: application/json
  /v1/contacts/sync/deleted:
    get:
      operationId: contSyncDeleted
      parameters:
      - description: A token received as nextDeltaToken from a previous sync request
          or a start sync request
        explode: true
        in: query
        name: deltaToken
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: A token received as nextPageToken from a previous page request
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedPage'
          description: Success
      summary: Request deleted contacts (deltas)
      tags:
      - ContSync
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X GET -H 'Authorization: Bearer <access token>' \
              -G https://api.aurinko.io/v1/contacts/sync/deleted \
              -d deltaToken='a8b7c6d5e4f3g2h1'
      x-accepts: application/json
  /v1/contacts/{contId}:
    delete:
      operationId: deleteContact
      parameters:
      - description: Contact id
        explode: false
        in: path
        name: contId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Success
        "404":
          description: Contact not found
      summary: Delete a contact
      tags:
      - Contacts
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -H 'Authorization: Bearer <access token>' \
              -X DELETE https://api.aurinko.io/v1/contacts/{contId}
      x-accepts: application/json
    get:
      operationId: contact
      parameters:
      - description: Contact id
        explode: false
        in: path
        name: contId
        required: true
        schema:
          type: string
        style: simple
      - description: Default text
        explode: true
        in: query
        name: bodyType
        required: false
        schema:
          $ref: '#/components/schemas/BodyType'
        style: form
      - explode: true
        in: query
        name: nativeProperties
        required: false
        schema:
          items:
            $ref: '#/components/schemas/NativeProperty'
          nullable: true
          type: array
        style: form
      - explode: true
        in: query
        name: withPhoto
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - explode: true
        in: query
        name: includeUpdateToken
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
          description: Success
      summary: Get a contact
      tags:
      - Contacts
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X GET -H 'Authorization: Bearer <access token>' \
              https://api.aurinko.io/v1/contacts/{id}
      x-accepts: application/json
    patch:
      operationId: updateContact
      parameters:
      - description: Contact id
        explode: false
        in: path
        name: contId
        required: true
        schema:
          type: string
        style: simple
      - description: The HTTP entity tag of the resource (ETag). Used for web cache
          validation.
        explode: false
        in: header
        name: If-Match
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contact'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactOrId'
          description: Success
      summary: Update a contact
      tags:
      - Contacts
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -H 'Authorization: Bearer <access token>' \
              -X PATCH https://api.aurinko.io/v1/contacts/{contId} \
              -d '{
                       "name": {"givenName": "Sam", "familyName": "Black"},
                       "company": {"name":"Aurinko, Inc", "jobTitle": "QA engineer"},
                       "emailAddresses": [
                              {"address": "sam@aurinko.io", "type": "work"}
                           ],
                       "phoneNumbers": [
                              {"number": "415 8399949", "type": "work"}
                              {"value": "415 9499938","type": "Home"},
                           ]
                  }'
      x-content-type: application/json
      x-accepts: application/json
  /v1/contacts:
    post:
      operationId: createContact
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contact'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactOrId'
          description: Success
      summary: Create a new contact
      tags:
      - Contacts
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -H 'Authorization: Bearer <access token>' \
              -X POST https://api.aurinko.io/v1/contacts \
              -d '{
                       "name": {"givenName": "Sam", "familyName": "Black"},
                       "company": {"name":"Aurinko", "jobTitle": "Support engineer"},
                       "emailAddresses": [
                               {"address": "sam@aurinko.io", "type": "work"}
                           ],
                       "phoneNumbers": [
                               {"number": "415 8399949", "type": "work"}
                           ]
                          }'
      x-content-type: application/json
      x-accepts: application/json
  /v1/book/workHours:
    get:
      operationId: workHours
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WeekWorkSchedule'
          description: Success
        "401":
          description: Authentication information is missing or invalid
          headers:
            WWW_Authenticate:
              explode: false
              schema:
                type: string
              style: simple
      summary: Get user work hours
      tags:
      - Booking
      x-accepts: application/json
  /v1/book/profiles:
    get:
      operationId: getAccBookings
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BookingOutDto'
                type: array
          description: Success
        "401":
          description: Authentication information is missing or invalid
          headers:
            WWW_Authenticate:
              explode: false
              schema:
                type: string
              style: simple
      summary: Get booking profiles
      tags:
      - Booking
      x-accepts: application/json
    post:
      operationId: create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingInDto'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingOutDto'
          description: Success
        "401":
          description: Authentication information is missing or invalid
          headers:
            WWW_Authenticate:
              explode: false
              schema:
                type: string
              style: simple
      summary: Create a booking profile
      tags:
      - Booking
      x-content-type: application/json
      x-accepts: application/json
  /v1/book/profiles/{id}:
    delete:
      operationId: deleteBooking
      parameters:
      - description: A booking id
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingSuccessOutDto'
          description: Success
        "401":
          description: Authentication information is missing or invalid
          headers:
            WWW_Authenticate:
              explode: false
              schema:
                type: string
              style: simple
      summary: Delete a booking profile by id
      tags:
      - Booking
      x-accepts: application/json
    get:
      operationId: getBooking
      parameters:
      - description: A booking id
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingOutDto'
          description: Success
        "401":
          description: Authentication information is missing or invalid
          headers:
            WWW_Authenticate:
              explode: false
              schema:
                type: string
              style: simple
      summary: Get a booking profile by id
      tags:
      - Booking
      x-accepts: application/json
    patch:
      operationId: updateBooking
      parameters:
      - description: A booking id
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingUpdateDto'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingSuccessOutDto'
          description: Success
        "401":
          description: Authentication information is missing or invalid
          headers:
            WWW_Authenticate:
              explode: false
              schema:
                type: string
              style: simple
      summary: Update a booking profile
      tags:
      - Booking
      x-content-type: application/json
      x-accepts: application/json
  /v1/book/{aurinkoClientId}/{name}/meeting:
    get:
      operationId: getMeetingTimes
      parameters:
      - description: Application client Id
        explode: false
        in: path
        name: aurinkoClientId
        required: true
        schema:
          type: string
        style: simple
      - description: Booking profile name
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingTimesOutDto'
          description: Success
      security: []
      summary: Get available meeting times
      tags:
      - Booking
      x-accepts: application/json
    post:
      operationId: createMeeting
      parameters:
      - description: Application client Id
        explode: false
        in: path
        name: aurinkoClientId
        required: true
        schema:
          type: string
        style: simple
      - description: Booking profile name
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMeetingDto'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingSuccessOutDto'
          description: Success
        "401":
          description: Authentication information is missing or invalid
          headers:
            WWW_Authenticate:
              explode: false
              schema:
                type: string
              style: simple
      security: []
      summary: Create a meeting
      tags:
      - Booking
      x-content-type: application/json
      x-accepts: application/json
  /v1/user:
    get:
      operationId: getUserInfo
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndUserDto'
          description: Success
        "401":
          description: Access token is missing or invalid
      security:
      - UserSessionCookie: []
      - ClientIdHeader: []
      summary: Get user info
      tags:
      - User
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X GET --cookie "<END_USER_COOKIE>" \
              -H 'X-Aurinko-ClientId: <CLIENT_ID>' \
              https://api.aurinko.io/v1/user
      x-accepts: application/json
  /v1/user/accounts:
    get:
      operationId: getEndUserAccounts
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndUserAccountsPage'
          description: Success
        "401":
          description: Access token is missing or invalid
      security:
      - UserSessionCookie: []
      - ClientIdHeader: []
      summary: Get user accounts
      tags:
      - User
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X GET --cookie "<END_USER_COOKIE>" \
              -H 'X-Aurinko-ClientId: <CLIENT_ID>' \
              https://api.aurinko.io/v1/user/accounts
      x-accepts: application/json
  /v1/user/accounts/{id}:
    delete:
      description: "Deleting a primary account, also invalidates the user's session\
        \ cookie (logout)."
      operationId: logoutAccount
      parameters:
      - description: user's account Id
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkResponse'
          description: Success
        "401":
          description: Access token is missing or invalid
      security:
      - UserSessionCookie: []
      - ClientIdHeader: []
      summary: Delete a user account
      tags:
      - User
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X DELETE --cookie "<END_USER_COOKIE>" \
              -H 'X-Aurinko-ClientId: <CLIENT_ID>' \
              https://api.aurinko.io/v1/user/accounts/<id>
      x-accepts: application/json
    get:
      operationId: getEndUserAccount
      parameters:
      - description: user's account Id
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndUserAccountDto'
          description: Success
        "401":
          description: Access token is missing or invalid
      security:
      - UserSessionCookie: []
      - ClientIdHeader: []
      summary: Get user account by id
      tags:
      - User
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X GET --cookie "<END_USER_COOKIE>" \
              -H 'X-Aurinko-ClientId: <CLIENT_ID>' \
              https://api.aurinko.io/v1/user/accounts/<id>
      x-accepts: application/json
  /v1/user/accounts/{id}/managed:
    post:
      operationId: copyAsManaged
      parameters:
      - description: user's account Id
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - explode: true
        in: query
        name: clientOrgId
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndUserAccountDto'
          description: Success
        "401":
          description: Access token is missing or invalid
      security:
      - UserSessionCookie: []
      - ClientIdHeader: []
      summary: Make a user account 'managed'
      tags:
      - User
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X POST --cookie "<END_USER_COOKIE>" \
              -H 'X-Aurinko-ClientId: <CLIENT_ID>' \
              https://api.aurinko.io/v1/user/accounts/<id>/managed
      x-accepts: application/json
  /v1/user/logout:
    post:
      description: Invalidates the user's session cookie
      operationId: logout
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkResponse'
          description: Success
        "401":
          description: Access token is missing or invalid
      security:
      - UserSessionCookie: []
      - ClientIdHeader: []
      summary: Log out a user
      tags:
      - User
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X POST --cookie "<END_USER_COOKIE>" \
              -H 'X-Aurinko-ClientId: <CLIENT_ID>' \
              https://api.aurinko.io/v1/user/logout
      x-accepts: application/json
  /v1/account:
    delete:
      operationId: deleteAccount
      responses:
        "200":
          description: Success
        "401":
          description: Access token is missing or invalid
      summary: Delete the account
      tags:
      - Account
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X DELETE -H 'Authorization: Bearer <access token>' \
              https://api.aurinko.io/v1/account
      x-accepts: application/json
    get:
      operationId: getMyAccount
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAccountOutDto'
          description: Success
        "401":
          description: Access token is missing or invalid
      summary: Get account status
      tags:
      - Account
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X GET -H 'Authorization: Bearer <access token>' \
              https://api.aurinko.io/v1/account
      x-accepts: application/json
  /v1/account/token:
    delete:
      operationId: deleteToken
      responses:
        "200":
          description: Success
        "401":
          description: Access token is missing or invalid
      summary: Delete the token and revoke all provider authentication data associated
        with it
      tags:
      - Account
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X DELETE -H 'Authorization: Bearer <access token>' \
              https://api.aurinko.io/v1/account/token
      x-accepts: application/json
  /v1/am/accounts:
    get:
      operationId: getAccounts
      parameters:
      - description: page size
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          format: int32
          nullable: true
          type: integer
        style: form
      - description: return records offset by the given number
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          nullable: true
          type: integer
        style: form
      - description: An authenticated OrgId
        explode: true
        in: query
        name: authOrgId
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
[...]
